name: Safe Reward

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: pip install -r requirements.txt
      - run: python -m unittest test_SafeReward.py
